html{
    scroll-behavior: smooth;
  }
  body {
      background-color: #161616;
      min-height: 100vh;
      margin: 0;
  }
  
  nav {
      position: fixed;
      background: #a0a0a015; /* I found this color of blur to work for me better*/
    -webkit-backdrop-filter: blur(15px); /* Add this line first, it fixes blur for Safari*/
    backdrop-filter: blur(15px); 
      height: 9vh;
      justify-content: center;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 15px;
      width: 90vw;
      margin-left: 4vw;
      top: 4vmin;
      z-index: 9;
      }
      .sitelogo {
        margin-left: -15px;
         margin-top: 15px;
         display: inline;
     }
     .jeemainlogo{
         margin-right: 23px
     }
     
     .jeequiz{
       color: #fff;
       text-decoration: none;
       display: flex;
       font-family: "El Messiri", system-ui;
       transition: color 0.3s ease-in-out;
       position: relative;
       text-align: center;
       right: 20px;
     }

     .jeequiz:hover::after{
        width: 76%;
      }
      
      .jeequiz::after{
        content: "";
        position: absolute;
        left: 38px;
        bottom: 21px;
        width: 0;
        height: 2px; /* Adjust the thickness of the underline */
        background-color: #00ff00; /* Color of the underline */
        transition: width 0.3s ease-in-out;
      }
      .jeequiz>img{
        padding-right: 15px;
      }

      .physics{
        display:flex;
        position: relative;
        justify-content: center;
        top: 90px;
        font-family: "El Messiri", system-ui;
        color: #fff;
        font-size: 50px;
        align-items: center;
      }

    .phyanim{
padding-left: 25px;
      
    }

    .phytext{
      padding-right: 25px;

    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* Three equal columns */
      grid-template-rows: repeat(5, 200px); /* Five rows with a set height */
      width: 100vw; /* Full width of viewport */
      max-width: 1200px; /* Max width for larger screens */
      border-top: 2px solid #333; /* Top border for the entire grid */
      border-left: 2px solid #333; /* Left border for the entire grid */
    }
    .grid-cell {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2em;
      border-right: 2px solid #333; /* Right border between cells */
      border-bottom: 2px solid #333; /* Bottom border between cells */
    }
    .grid-cell span {
      transform: rotate(90deg); /* Optional: Rotate text for a vertical look */
    }


    .grid-item:nth-child(3n) { border-right: none; } /* Removes right border from last item in each row */
    .grid-item:nth-last-child(-n+3) { border-bottom: none; } 
